@import "../../../assets/styles/variables.scss";

.navbar {
  // background-color: $bg-purple-primary;
  display: flex;
  justify-content: space-between;

  .navLinks {
    display: flex;
    width: 25%;
    height: 2.5rem;
    background-color: $bg-white-tertary;
    border-radius: 5rem;
    text-align: center;
    align-items: center;


    .linkIcon {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.3rem;
      text-decoration: none;
      color: $txt-gray-secundary;
      border-radius: 5rem;
      font-weight: 600;



      &.activePrimary {
        background-color: $btn-purple-primary;
        color: $txt-white ;

      }

      &.activeSecundary {
        background-color: $btn-pink-primary;
        color: $txt-white;
      }
    }
  }

  .containerIconInput {
    width: 20%;
    height: 2.5rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: $txt-gray-primary;
    border: 0.15rem solid $border-gray;
    border-radius: 5rem;

    .input {
      border: none;
      font-family: var(--font-principal);

      &:focus {
        outline: none;
      }
    }
  }


}