@import "../../../assets/styles/variables.scss";
.paginator {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);

  .containerPaginator {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

    .btnPrev, .btnNext{
      color: $txt-dark-gray;
      padding: 5px;
      height:40px ;
      width: 40px;
      border-radius: 100%;
    }
  }
}