@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    background: linear-gradient(150deg, $bg-purple-primary, $bg-pink-primary, $bg-red-primary);
    overflow-y: hidden;
    color: $txt-dark-gray;
}

.text-primary {
    color: $txt-gray-primary;
    font-size: 14px;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;

}

textarea {
    height: 60px;
    border-radius: 3px;
    border: 1px solid $border-gray;

}

.inputSecondary,
select {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border: 1px solid $border-gray;
    gap: 20px;
}

.btn-primary {
    color: $txt-white;
    border-radius: 5px;
    height: 30px;
    border: none;
    font-weight: 700;
    align-items: center;
}


.formPrimary{
    display: flex;
    flex-direction: column;
    gap: 20px;
}