// colores de fondo.
$bg-purple-primary: rgb(192, 132, 252);
$bg-pink-primary: rgb(236, 72, 153);
$bg-red-primary: rgb(239, 68, 68);
$bg-white-primary: rgb(255, 255, 255);
$bg-white-secundary: rgb(243, 244, 246);
$bg-white-tertary: rgb(229, 231, 235);

$txt-dark-gray: rgb(31, 41, 55);
$txt-gray-primary: rgb(75, 85, 99);
$txt-gray-secundary: rgb(107, 114, 128);
$txt-white: rgb(255, 255, 255);

$btn-purple-primary: rgb(168, 85, 247);
$btn-purple-secundary: rgb(147, 51, 234);
$btn-pink-primary: rgb(236, 72, 153);
$btn-pink-secundary: rgb(219, 39, 119);
$btn-red-primary:  rgb(239, 68, 68);
$btn-red-secundary: rgb(220, 38, 38);
$btn-white-primary: rgb(254, 242, 242);

$border-gray: rgb(229, 231, 235);
$focus-purple: rgb(233, 213, 255);
$focus-pink: rgb(251, 207, 232);